<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>SingleChat</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="call"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none">
    <ion-item>
      <span slot="start">Hello</span>
    </ion-item>
    <ion-item>
        <span slot="end">Hi</span>
    </ion-item>
  </ion-list>

</ion-content>
