ion-header{
    ion-item{
        --background:none;
        --padding-start:0;
        --padding-end:0;
        --inner-padding-start:0;
        --inner-padding-end:0;
    }
}

ion-content{
    ion-slides{
        height: 100%;
    }
    ion-grid,ion-row,ion-col{
       overflow-y: scroll;
    }
    .slide-container{
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        ion-card{
            border-radius: 0;
            box-shadow: none;
            &.active{
             background: var(--ion-color-secondary);
             color:#ffffff;
             ion-item{
                 color:#ffffff;
             }
            }

            ion-card-content{
                position: relative;
                ion-icon{
                    position: absolute;
                    right:20px;
                    top:30%;
                }
            }
        }
        ion-item{
            --background:none;
            img{
                height: 50px;
            }
        }
    }
}