<ion-header>
    <ion-toolbar [hidden]="!searching">
      <ion-searchbar (ionCancel)="closeSearch()" showCancelButton="always" animated></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar color="primary" [hidden]="searching">
      <ion-buttons slot="start">
        <ion-item (click)="toggleMenu()">
          <ion-avatar>
            <img height="50px" src="./../../assets/owl.jpg" alt="profile">
          </ion-avatar>
        </ion-item>
        
      </ion-buttons>
      <ion-title>
        Whatsapp
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openSearch()" icon-only>
          <ion-icon name="search" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar [hidden]="searching">
      <ion-segment  [(ngModel)]="page">
        <ion-segment-button value="0" (click)="selectTab(0)">
          <ion-label>Chats</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1" (click)="selectTab(1)">
          <ion-label>Status</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" (click)="selectTab(2)">
          <ion-label>Calls</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides #myslider (ionSlideWillChange)="swipePages()" [options]="sliderConfig">
      <ion-slide>
        <ion-grid style="height:100%;" no-padding>
          <ion-row justify-content-center>
            <ion-col size-md="6" no-padding>
                <div class="slide-container">
                  <app-chats (click)="detailChat()" *ngFor="let item of [1,2,3,4,5,6,7,8,9]" item="item"></app-chats>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>        
      </ion-slide>
      <ion-slide>
          <ion-grid style="height:100%;" no-padding> 
              <ion-row justify-content-center>
                <ion-col size-md="6" no-padding>
                  <div class="slide-container">
                    <app-status></app-status>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          
      </ion-slide>
      <ion-slide>
        <ion-grid style="height:100%;" no-padding> 
          <ion-row justify-content-center>
            <ion-col size-md="6" no-padding>
              <div class="slide-container">
                <app-calls></app-calls>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-slide>
    </ion-slides>
  </ion-content>