<div>
    <ion-list>
        <ion-item *ngFor="let i of [1,2,3,4]">
          <ion-avatar slot="start">
            <img src="./../../assets/owl.jpg">
          </ion-avatar>
          <ion-label>Japheth {{i}}</ion-label>
          <ion-icon slot="end" name="call"></ion-icon>
        </ion-item>
    </ion-list>
</div>