<div>
  <ion-list lines="none">
    <ion-list-header no-padding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/owl.jpg" alt="">
        </ion-avatar>
        <ion-label>My status
          <p>Tap to add a status</p>
        </ion-label>
      </ion-item>
    </ion-list-header>
    <ion-item status *ngFor="let i of [1,2,3,4,5,6]">
        <ion-avatar slot="start">
          <img src="../../../assets/owl.jpg" alt="">
        </ion-avatar>
        <ion-label>Japheth kiptoo
          <p>{{i}} mins ago</p>
        </ion-label>
    </ion-item>
  </ion-list>
</div>