img{
    height: 100%;
}

ion-list{
    ion-list-header{
           border-bottom: 1px solid var(--ion-color-light);
    }
    ion-item[status]{
        padding: 10px 0;
        ion-avatar{
            border: 2px solid var(--ion-color-primary);
            padding: 2px;
        }
        ion-icon{
            color:var(--ion-color-primary);
        }
        p{
            font-weight: 100;
        }
    }
}