<ion-app>

  <ion-menu type="push">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-list-header no-padding>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../assets/owl.jpg">
            </ion-avatar>
            <ion-label>
              Japheth Kiptoo
              <p>Status</p>
            </ion-label>
          </ion-item>
        </ion-list-header>
        <ion-item>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-label>Account
            <p>Privacy, security,change number</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="text"></ion-icon>
          <ion-label>Chats
            <p>Privacy, security,change number</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Notifications
            <p>Privacy, security,change number</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="beer"></ion-icon>
          <ion-label>Data and storage usage
            <p>Privacy, security,change number</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="help"></ion-icon>
          <ion-label>
            Help
            <p>FAQ, contact us, privacy policy</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
