// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-menu{
    ion-list{
        ion-list-header{
               border-bottom: 1px solid var(--ion-color-light);
            ion-avatar{
                border:1px solid var(--ion-color-primary);
                padding: 2px;
            }
        }
        ion-item{
            padding: 10px 0;
            ion-icon{
                color:var(--ion-color-primary);
            }
            p{
                font-weight: 100;
            }
        }
    }
}