img{
    height:100%;
}

ion-card{
    border-radius: 0;
    box-shadow: none;
    &.active,&:hover,&:focus{
        background: var(--ion-color-primary);
        ion-item{
            color:var(--ion-color-light);
        }
    }
    ion-item{
        --background: none;
    }
    ion-card-content{
        position: relative;
        ion-item{
            ion-icon{ 
                color:var(--ion-color-secondary);
            }
        }
    }
}