<div>
    <ion-card text-left [ngClass]="{'active':k === 1 }">
        <ion-card-header no-padding >
          <ion-item lines="full">
            <ion-avatar slot="start">
              <img src="../../../assets/owl.jpg" alt="sender">
            </ion-avatar>
            <ion-label>Japheth</ion-label>
            <ion-badge color="secondary" [hidden]="!(k === 1)" style="height: 20px; width:20px; border-radius:50%;" slot="end">2</ion-badge>
          </ion-item>
        </ion-card-header>
        <ion-card-content padding-top>
          <ion-item lines="none" no-padding>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit....
            <ion-icon slot="end" [hidden]="(k === 1)" name="done-all"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
</div>
